@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import "tailwindcss";
/*@import "tailwindcss/preflight"; ??? */

*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body {
  background-color: #f78495;
  overflow-y: hidden;
}

.homePage {
  position: relative;
  overflow: hidden;
}


.removeLogo {
  position: relative;
  z-index: 20;
}

.tracking-zone {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Hjälp!? */
  background-color: #4a4a4a;  
}

.tracking-zone.forward {
  top: 24.8%;
  left: 55.5%;
  transform: translate(-50%, -50%);
}

.tracking-zone.backward {
  top: 24.8%;
  left: 46.9%; 
  transform: translate(-50%, -50%);
}

.spinner {
  border: 6px solid #e0e0e0;
  border-top: 6px solid #36e61c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 1144px) {
  body {
    overflow-y: auto; 
  }
  
}